{% extends 'layouts/main.html' %}

{% set pageTitle = 'Catalogue prototypes' %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
      <ol class="tna-ol">
        <li>
          Version 1
          <ul class="tna-ul">
            <li>
              <a href="/v1/record-details">Record details</a>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
