{% extends 'layouts/main.html' %}

{% set pageTitle = 'Catalogue prototypes' %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
      <h2 class="tna-heading-l">
        <a href="/v1/record-details">Version 1</a>
      </h2>
      <dl class="tna-dl">
        <dt>Design</dt>
        <dd>
          <a href="https://www.figma.com/proto/YVFPU9zQzYwHmuygVE970Z/NuSearch-wireframes?page-id=3442%3A3068&node-id=3655-5027&viewport=-188%2C-146%2C1&t=DnCUrTAfpmnwLdJy-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=3655%3A5027">Figma prototype</a>
        </dd>
        <dt>Date tested</dt>
        <dd>???</dd>
        <dt>What tested well</dt>
        <dd>
          <ul class="tna-ul">
            <li>???</li>
          </ul>
        </dd>
        <dt>What didn't test well?</dt>
        <dd>
          <ul class="tna-ul">
            <li>???</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
